<ion-view title="Tilføj">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Søg" ng-model="mealSearch">
      </label>
    </div>
    <ul class="list">
      <li class="item item-divider">Frokost</li>
      <li class="item" ng-repeat="meal in lunchList | filter:{ name: mealSearch }">
        <h2 style="font-weight:bold;">Navn: {{meal.name}}</h2>
        <h2>Protein: {{meal.protein}}</h2>
        <h2>kJ: {{meal.energy}}</h2>
      </li>
    </ul>
	
  </ion-content>
</ion-view>
