<ion-view title="Tilføj">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Søg" ng-model="mealSearch">
      </label>
    </div>
    <ul class="list">
      <li class="item item-divider">Drikkevarer</li>
      <li class="item" ng-repeat="drink in drinkList | filter:{ name: mealSearch }">
        <div class="amount"><h2>Antal: {{amount}}</h2>
        <button ng-click="increment($amount);">+</button>
        <button ng-click="decrement($amount);">-</button>
        </div>
        <h2 style="font-weight:bold;">{{drink.name}}</h2>
        <h2>Protein: {{drink.protein}}</h2>
        <h2>kJ: {{drink.energy}}</h2>

      </li>
    </ul>
	
  </ion-content>
</ion-view>
