<ion-modal-view >
  <ion-header-bar class="bar-dark">
  
    <button class="button-icon icon ion-close-round" ng-click="cancelReg()"></button>
    <h1 class="title">Tilføjede</h1>
    <button class="button button-clear" ng-style="{'width': '50px'}" ng-click="saveRegistration({{registration.rID}})"> Gem </button>

  </ion-header-bar>
  <ion-content>
    <ul class="list" > <!--ng-repeat="meal in meals" -->
      <li class="item item-divider">Morgenmad</li>
      <li class="item" ng-repeat="meal in registration.meals | filter: { cat: 'breakfast' } track by meal.mID">
        <div class="amount">
        </div>
        <h2 style="font-weight:bold;">{{meal.name}} <span style="float:right"><a class="" ng-click="removeMealFromRegistration({{meal.mID}})" href="">FJERN</a></span></h2>
        <div class="item range ">
         {{meal.mID}} Spist ca.: <input type="range" name="rangeSlider" min="0" max="100" value="{{meal.amount}}" step="25" ng-model="meal.amount"> 
            {{meal.amount}} %
             
        </div>     
      </li>
      
      <li class="item item-divider">Frokost</li>
      <li class="item" ng-repeat="meal in registration.meals | filter: { cat: 'lunch' } track by meal.mID">
        <div class="amount">
        </div>
        <h2 style="font-weight:bold;">{{meal.name}} <span style="float:right"><a ng-click="removeMealFromRegistration({{meal.mID}})" href="">FJERN</a></span></h2>
        <div class="item range ">
          Spist ca.: <input type="range" name="rangeSlider" min="0" max="100" value="{{meal.amount}}" step="25" ng-model="meal.amount"> 
            {{meal.amount}} %
        </div>
      </li>
      
      <li class="item item-divider">Aftensmad</li>
      <li class="item" ng-repeat="meal in registration.meals | filter: { cat: 'dinner' } track by meal.mID">
        <div class="amount">
        </div>
        <h2 style="font-weight:bold;">{{meal.name}} <span style="float:right"><a ng-click="removeMealFromRegistration({{meal.mID}})" href="">FJERN</a></span></h2>
        <div class="item range ">
          Spist ca.: <input type="range" name="rangeSlider" min="0" max="100" value="{{meal.amount}}" step="25" ng-model="meal.amount"> 
            {{meal.amount}} %
        </div>
      </li>
      
      <li class="item item-divider">Mellemmåltid</li>
      <li class="item" ng-repeat="meal in registration.meals | filter: { cat: 'snack' } track by meal.mID">
        <div class="amount">
        </div>
        <h2 style="font-weight:bold;">{{meal.name}} <span style="float:right"><a ng-click="removeMealFromRegistration({{meal.mID}})" href="">FJERN</a></span></h2>
        <div class="item range ">
          Spist ca.: <input type="range" name="rangeSlider" min="0" max="100" value="{{meal.amount}}" step="25" ng-model="meal.amount"> 
            {{meal.amount}} %
        </div>
      </li>
      
      <li class="item item-divider">Drikkevarer</li>
      <li class="item" ng-repeat="meal in registration.meals | filter: { cat: 'drink' } track by meal.mID">
        <div class="amount">
        </div>
        <h2 style="font-weight:bold;">{{meal.name}} <span style="float:right"><a ng-click="removeMealFromRegistration({{meal.mID}})" href="">FJERN</a></span></h2>
        <div class="item range ">
          Drukket ca.: <input type="range" name="rangeSlider" min="0" max="100" value="{{meal.amount}}" step="25" ng-model="meal.amount"> 
            {{meal.amount}} %
        </div>
      </li>
      
    </ul>
</ion-modal-view>
