<ion-view title="{{registration.title}}" ng-controller="RegistrationCtrl">

  <ion-nav-buttons side="right">      
    <button 
      class="button button-icon icon ion-levels"
      ng-click="openRegs()"></button>
  </ion-nav-buttons>  
  
  <!--<ion-header-bar align-title="center" class="bar bar-subheader bar-positive" >

    <center>Tilføjet: 5 | 12g protein | 23 kJ</center>

  </ion-header-bar>-->
  

  <ion-tabs class="tabs-positive tabs-icon-top">
  
  	<!-- Morgen Tab -->
	  <ion-tab title="Morgen" icon-off="ion-fork" icon-on="ion-fork" href="#/meal/breakfast">
	    <ion-nav-view name="meal-breakfast"></ion-nav-view>
	  </ion-tab>
	
	  <!-- Middag Tab -->
	  <ion-tab title="Frokost" icon-off="ion-knife" icon-on="ion-knife" href="#/meal/dinner">
	    <ion-nav-view name="meal-dinner"></ion-nav-view>
	  </ion-tab>

	  <!-- Aften Tab -->
	  <ion-tab title="Aften" icon-off="ion-pizza" icon-on="ion-pizza" href="#/meal/supper">
	    <ion-nav-view name="meal-supper"></ion-nav-view>
	 </ion-tab>
	 
	  <!-- Mellem Tab -->
	  <ion-tab title="Mellemmåltid" icon-off="ion-spoon" icon-on="ion-spoon" href="#/meal/snack">
	    <ion-nav-view name="meal-snack"></ion-nav-view>
	  </ion-tab>
    
    <!-- Drink tab -->
    <ion-tab title="Drikke" icon-off="ion-coffee" icon-on="ion-coffee" href="#/meal/drink">
	    <ion-nav-view name="meal-drink"></ion-nav-view>
	  </ion-tab>
	
  
  
  </ion-tabs>
  
</ion-view>