<ion-view title="Startside" ng-controller="RegistrationCtrl">
  <ion-content ng-controller="MealRecommendationCtrl">
    <div class="card">
      <div class="item item-divider">Information</div>
      <div class="item item-text-wrap">
        <div class="row">
    			<div class="col-50">Navn:</div>
    			<div class="col-50">{{ loggedInUser.firstname }} {{loggedInUser.surname}}</div>
    		</div>
    		<div class="row">
    			<div class="col-50">Cpr nr:</div>
    			<div class="col-50">{{ loggedInUser.SSN }}</div>
    		</div>
    		<div class="row">
    			<div class="col-50">Vægt:</div>
    			<div class="col-50">{{ loggedInUser.weight }} Kg</div>
    		</div>
    		<div class="row">
    			<div class="col-50">Resterende protein:</div>
    			<div class="col-50">{{ proteinNeeded(1) }} g</div>
    		</div>
        <div class="row">
    			<div class="col-50">Resterende energi:</div>
    			<div class="col-50">{{ energyNeeded() }} Kj</div>
    		</div>
      </div>
    </div>

    <div class="list card">
      <a href="#" ng-click="checkToCreateReg()" class="item item-icon-left item-icon-right">
    		<i class="icon ion-plus-round"></i>
    		Opret kostregistrering
        <i class="icon ion-arrow-right-c"></i>
    	</a>
      <div class="item item-divider">
    		Seneste kostregistreringer
    	</div>
      <li class="item" ng-show="!loggedInUserRegistrations.length">Der er ingen registreringer endnu</li>
      <li style="list-style: none" ng-repeat="reg in loggedInUserRegistrations | filter:{ userSSN: loggedInUser.SSN } | orderBy: '-rID' | limitTo: 3">
        <a class="item item-icon-right" ng-click="goToReg({{reg.rID}})" href="#">
          {{ reg.title }}
          <i class="icon ion-arrow-right-c"></i>
        </a>
      </li>
   
    	<a href="#/myNutrition" class="item item-icon-left item-icon-right">
    		<i class="icon ion-navicon-round"></i>
    		Se alle
        <i class="icon ion-arrow-right-c"></i>
    	</a>
    </div>

    <div class="list card">
      <div class="item item-divider" data-ng-init="getMealRec()">
        Madforslag 
      </div>
      <div ng-repeat="recommendation in mealRecommendations">
        <li class="item" ng-style="{'margin-bottom': '2px'}">
          <h2>Rettens navn: {{mealName}} {{recommendation.recID}}</h2>
          <h3>Protein: {{ mealProtein(recommendation.meals) }} g</h4>
          <h3>Energi: {{mealEnergy(recommendation.meals)}} Kj</h4>
          <div class="row" ng-style="{'height': '25px'}">
            <div class="col-67"><p>Rettens indhold</p></div>
            <div class="col"><p>Protein</p></div>
            <div class="col"><p>Energi</p></div>
          </div>
          <hr/>
          <div ng-style="{'margin-bottom': '25px'}">
            <div ng-repeat="meal in recommendation.meals">
              <div class="row" ng-style="{'height': '25px'}">
                <div class="col-67">
                  <p>{{meal.name}}</p>
                </div>
                <div class="col">
                  <p>{{meal.protein}} g</p>
                </div>
                <div class="col">
                  <p>{{meal.energy}} Kj</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </ion-content>
</ion-view>
