<ion-view view-title="Kostregistrering">
<ion-nav-bar class="bar-calm">
</ion-nav-bar>
<ion-content class="padding" ng-controller="PatientCtrl">

<div class="card">
	<div class="item item-text-wrap">
		For at kunne registrere din kost og væske skal du være logget ind med dit cpr nr.
	</div>
</div> 

<div class="list list-inset">
	<label class="item item-input">
		<input type="text" placeholder="Indtast cpr nummer">
	</label>
	<button class="button button-block button-calm" ui-sref="app.home">
		Login
	</button>
</div>


</ion-content>
</ion-view>