<ion-view title="Rediger information">

  <!-- http://ionicframework.com/docs/api/directive/ionNavBackButton/ for funktionalitet -->
  <ion-nav-buttons side="right">      
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </ion-nav-buttons> 
  

  <ion-content ng-controller="UserCtrl">
    <div class="list">
      <form name="form.editForm" ng-submit="editUser(userToEdit)" novalidate="">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Fornavn</span>
	    <input type="text" placeholder="Jens" ng-model="userToEdit.firstname">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Efternavn</span>
	    <input type="text" placeholder="Jensen" ng-model="userToEdit.surname">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">CPR</span>
	    <input type="text" placeholder="1111912525" ng-model="userToEdit.SSN" ng-minlength="10" required data-ng-pattern="/^[0-9]{1,10}$/">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="jens@jensen.com" ng-model="userToEdit.email">
	  </label>
    <label class="item item-input item-stacked-label">
	    <span class="input-label">Vægt i kg</span>
	    <input type="text" placeholder="80" ng-model="userToEdit.weight" ng-minlength="1" required data-ng-pattern="/^[0-9]{1,6}$/">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Adgangskode</span>
	    <input type="password" placeholder="" ng-model="userToEdit.password">
	  </label>
    <button class="button button-full button-balanced" type="submit">
      Gem ændringer
    </button>
      </form>
	</div>
  </ion-content> 
</ion-view>