<ion-view title="Kostregistreringer">

  <!-- http://ionicframework.com/docs/api/directive/ionNavBackButton/ for funktionalitet -->
  <ion-nav-buttons side="right">      
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </ion-nav-buttons> 
  

  <ion-content ng-controller="UserCtrl">
    <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Fornavn</span>
	    <input type="text" placeholder="Jens" value="{{ loggedInUser.firstname }}">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Efternavn</span>
	    <input type="text" placeholder="Jensen" value="{{ loggedInUser.surname }}">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">CPR</span>
	    <input type="text" placeholder="1111912525" value="{{ loggedInUser.SSN }}">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="jens@jensen.com" value="{{ loggedInUser.email }}">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Adgangskode</span>
	    <input type="password" placeholder=""value="{{ loggedInUser.password }}">
	  </label>
    <button class="button button-full button-balanced" ng-click="newUser()">
      Gem ændringer
    </button>
	</div>
  </ion-content> 
</ion-view>