<ion-view title="Kostregistreringer" hide-nav-bar="true">
<pane side-menu-content drag-content="false">
  <ion-content ng-controller="UserCtrl">
    <div class="list">
  	  <label class="item item-input item-stacked-label">
  	    <span class="input-label">CPR</span>
  	    <input type="text" ng-model="data.SSN">
  	  </label>
  	  <label class="item item-input item-stacked-label">
  	    <span class="input-label">Kode</span>
  	    <input type="password" ng-model="data.password">
  	  </label>
  	  
      <button class="button button-full button-balanced" ng-click="login()">
        Login din klovn
      </button> 
       {{data.SSN}} <br />
      {{data.password}} <br />
      <ion-item collection-repeat="user in users" collection-item-height="52">
     {{user.firstname}} - {{user.cpr}} - {{user.password}}
     </ion-item>
  	</div>

  </ion-content>
</ion-view> 