<ion-view view-title="Aftensmad">
  <ion-content>

    <div class="list">

      <div class="item item-divider">
        Aftensmad
      </div>

      <a class="item" href="#">
        Butterfinger test
      </a>
      <a class="item" href="#">
        Butterfinger
      </a>
      <a class="item" href="#">
        Butterfinger
      </a>
      <a class="item" href="#">
        Butterfinger
      </a>
      <a class="item" href="#">
        Butterfinger
      </a>


    </div>

  </ion-content>
</ion-view>
