<ion-view view-title="Startside">

<ion-content class="padding">

<div class="card">
	<div class="item item-divider">
		Information
	</div>
	<div class="item item-text-wrap">
		<div class="row">
			<div class="col-25">Navn:</div>
			<div class="col-75">Jens Jensen</div>
		</div>
		<div class="row">
			<div class="col-25">Cpr nr:</div>
			<div class="col-75">111170-2637</div>
		</div>
	</div>
</div> 

<div class="list card">
<div class="item item-divider">
		Kostregistrering
	</div>
	<a href="#/kosttab/morgen" class="item item-icon-left">
		<i class="icon ion-navicon-round"></i>
		Se kostregistreringer
	</a>

	<a href="#" class="item item-icon-left">
		<i class="icon ion-plus-round"></i>
		Opret ny kostregistrering
	</a>

</div>


</ion-content>
</ion-view>